<div class="container">
    <h1 class="header">Your Cart</h1>
  
    <div class="empty-cart" *ngIf="cartItems.length === 0">
      You have no items in your cart
    </div>
    <ul class="cart" *ngIf="cartItems.length > 0">
      <li class="cart-item" *ngFor="let product of cartItems">
        <div class="product">
          <bot-product-info [product]="product"/>
          <div class="price">
            <bot-product-price [product]="product"/>
            <button (click)="removeFromCart(product)">Remove</button>
          </div>
        </div>
      </li>
    </ul>
    <div class="total">Total: {{ cartTotal | currency:'EUR' }}</div>
  </div>